.activeUsersList {
  height: 100%;
  width: 100%;
  background-color: rgb(39, 52, 67);
  color: white;
  padding: 1rem;
  list-style: none;
}

.activeUsersListItem {
  padding: 1rem;
  border-bottom: 1px solid rgb(94, 103, 114);
}
